In [4]:
import pandas as pd 
from fastparquet import ParquetFile
import pyarrow 
import pyarrow.parquet as pq 
import wget 
import os

In [5]:
from sqlalchemy import create_engine

In [6]:
url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"

In [7]:
output_file_path = 'yellow_tripdata_2024.csv'

In [8]:
# Get the current directory
current_dir = os.getcwd()

# Set the output file path in the current directory
output_file_path = os.path.join(current_dir, "yellow_tripdata_2024.parquet")

In [9]:
wget.download(url , output_file_path)

'/Users/pawanchahar/Data-Engineering-Zoomcamp/Week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2024 (1).parquet'

In [10]:
# Read the parquet file directly with pandas
df = pd.read_parquet(output_file_path)

df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.5,0.5,6.90,0.0,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.0,0.5,10.00,0.0,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.5,0.5,0.00,0.0,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.0,0.5,0.00,0.0,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.0,0.5,0.00,0.0,1.0,8.00,2.5,0.00

In [11]:
df.to_csv('yellow_tripdata_2024-01.csv' ,index=False)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv' , iterator=True ,chunksize=100000)

In [13]:
df = next(df_iter)

len(df)

100000

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
df.head(n=0).to_sql(name='yellow_taxi_data' ,con=engine , if_exists='replace')

0

In [ ]:
%time  df.to_sql(name='yellow_taxi_data' ,con=engine , if_exists='append')

In [17]:
from time import time

In [18]:
while True:
    t_start = time()

    df = next(df_iter)


    df.to_sql(name='yellow_taxi_data' ,con=engine , if_exists='append')

    t_end = time()

    print('Inserted another chunk........, took %.3f seconds' % (t_end - t_start))

Inserted another chunk........, took 13.566 seconds
Inserted another chunk........, took 14.449 seconds
Inserted another chunk........, took 13.016 seconds
Inserted another chunk........, took 12.674 seconds
Inserted another chunk........, took 12.879 seconds
Inserted another chunk........, took 12.885 seconds
Inserted another chunk........, took 13.400 seconds
Inserted another chunk........, took 13.194 seconds
Inserted another chunk........, took 14.768 seconds
Inserted another chunk........, took 14.004 seconds
Inserted another chunk........, took 14.149 seconds
Inserted another chunk........, took 13.705 seconds
Inserted another chunk........, took 14.135 seconds
Inserted another chunk........, took 14.224 seconds
Inserted another chunk........, took 13.419 seconds
Inserted another chunk........, took 13.469 seconds
Inserted another chunk........, took 13.780 seconds
Inserted another chunk........, took 16.320 seconds
Inserted another chunk........, took 13.062 seconds
Inserted another chunk........, took 13.152 seconds
Inserted another chunk........, took 13.696 seconds
Inserted another chunk........, took 15.310 seconds
Inserted another chunk........, took 18.189 seconds
Inserted another chunk........, took 14.277 seconds
Inserted another chunk........, took 13.875 seconds
Inserted another chunk........, took 30.134 seconds
Inserted another chunk........, took 16.061 seconds

/var/folders/kp/_4404mkx1zn_85zd51sfg3440000gn/T/ipykernel_4367/2507646675.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk........, took 12.140 seconds
Inserted another chunk........, took 7.974 seconds

StopIteration:

In [ ]:
output_file_path = 'yellow_tripdata_2024_01.csv'

#empty_list = []
#for month in ['%0.2d' % i for i in range(1, 13)]:
result = wget.download(f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

parquet_table = pq.read_table(result)
df = parquet_table.to_pandas()


#empty_list.append(df)

#merged_table = pd.concat(empty_list)
#merged_table.to_csv(output_file_path, index=False)

df.to_csv(output_file_path , index=False)

In [ ]:
df.to_sql(name='yellow_taxi_data', con= engine, if_exists='replace',index=False, chunksize=100000)

In [29]:
from sqlalchemy import create_engine 
from sqlalchemy.exc import OperationalError

In [30]:
url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"

In [26]:

def main(params):
    try:
            
        user = params.user
        password = params.password
        host = params.host
        port = params.port
        db = params.db
        table_name = params.table_name
        url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"


        #result = os.system(f"wget {url} ")

        output_file_path_csv = 'yellow_tripdata_2024.csv'

        # Get the current directory
        current_dir = os.getcwd()

    # Set the output file path in the current directory
        output_file_path = os.path.join(current_dir, "yellow_tripdata_2024.parquet")


        #result = wget.download(f'{url}')

        wget.download(url , output_file_path)

        df = pd.read_parquet(output_file_path)


        df.to_csv(output_file_path_csv , index=False)

        df_iter = pd.read_csv(output_file_path_csv, iterator=True , chunksize=100000)
        
        df = next(df_iter)


        engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')
        # Test connection
        with engine.connect() as conn:
            print("Database connection successful!")
    
        df.head(n=0).to_sql(name= table_name ,con=engine , if_exists='replace' )


        df.to_sql(name=table_name ,con=engine , if_exists='append')
    
    except OperationalError as e:
        print(f"Failed to connect to database: {e}")
        return

In [31]:

url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"


#result = os.system(f"wget {url} ")

output_file_path_csv = 'yellow_tripdata_2024.csv'

# Get the current directory
current_dir = os.getcwd()

# Set the output file path in the current directory
output_file_path = os.path.join(current_dir, "yellow_tripdata_2024.parquet")


#result = wget.download(f'{url}')

wget.download(url , output_file_path)

'/Users/pawanchahar/Data-Engineering-Zoomcamp/Week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2024 (1).parquet'

In [32]:

df = pd.read_parquet(output_file_path)


df.to_csv(output_file_path_csv , index=False)

df_iter = pd.read_csv(output_file_path_csv, iterator=True , chunksize=100000)

df = next(df_iter)

In [35]:
#engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
# Test connection
#with engine.connect() as conn:
   # print("Database connection successful!")

table_name='yellow_taxi_trips'

df.head(n=0).to_sql(name= table_name ,con=engine , if_exists='replace' )


#df.to_sql(name=table_name ,con=engine , if_exists='append')

0

In [36]:

while True:

    t_start = time()

    df = next(df_iter)

    df.to_sql(name=table_name, con= engine, if_exists='replace',index=False)

    t_end = time()

    print('Inserted another chunk........, took %.3f seconds' % (t_end - t_start))

Inserted another chunk........, took 14.729 seconds
Inserted another chunk........, took 12.767 seconds
Inserted another chunk........, took 12.107 seconds
Inserted another chunk........, took 12.046 seconds
Inserted another chunk........, took 12.261 seconds
Inserted another chunk........, took 11.588 seconds
Inserted another chunk........, took 12.138 seconds
Inserted another chunk........, took 17.646 seconds
Inserted another chunk........, took 12.385 seconds
Inserted another chunk........, took 11.799 seconds
Inserted another chunk........, took 16.329 seconds
Inserted another chunk........, took 11.536 seconds
Inserted another chunk........, took 11.515 seconds
Inserted another chunk........, took 11.861 seconds
Inserted another chunk........, took 11.906 seconds
Inserted another chunk........, took 11.421 seconds
Inserted another chunk........, took 11.812 seconds
Inserted another chunk........, took 11.551 seconds
Inserted another chunk........, took 11.835 seconds
Inserted another chunk........, took 12.407 seconds
Inserted another chunk........, took 12.384 seconds
Inserted another chunk........, took 13.842 seconds
Inserted another chunk........, took 12.206 seconds
Inserted another chunk........, took 11.698 seconds
Inserted another chunk........, took 11.995 seconds
Inserted another chunk........, took 11.638 seconds
Inserted another chunk........, took 12.004 seconds

/var/folders/kp/_4404mkx1zn_85zd51sfg3440000gn/T/ipykernel_4367/2263834719.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk........, took 10.604 seconds
Inserted another chunk........, took 6.909 seconds

StopIteration:

In [38]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="ny_taxi",
    user="root",
    password="root",
    port=5432
)
print("Connection successful!")
conn.close()

Connection successful!

In [ ]:
from sqlalchemy import create_engine

In [40]:
#engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
        
        # Test connection
with engine.connect() as conn:
    print("Database connection successful!")

Database connection successful!