In [13]:
import pandas as pd

In [54]:
from fastparquet import ParquetFile

In [43]:
import pyarrow 
import pyarrow.parquet as pq 
import wget 
import os

In [44]:
url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet"

In [46]:
output_file_path = 'yellow_tripdata_2024.csv'

In [47]:
# Get the current directory
current_dir = os.getcwd()

# Set the output file path in the current directory
output_file_path = os.path.join(current_dir, "yellow_tripdata_2024.parquet")

In [48]:
wget.download(url , output_file_path)

'/Users/pawanchahar/Data-Engineering-Zoomcamp/Week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2024.parquet'

In [50]:
# Read the parquet file directly with pandas
df = pd.read_parquet(output_file_path)

print(df.head(10))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
1         1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
2         1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
3         1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
4         1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0
5         1  2024-01-01 00:54:08   2024-01-01 01:26:31              1.0
6         2  2024-01-01 00:49:44   2024-01-01 01:15:47              2.0
7         1  2024-01-01 00:30:40   2024-01-01 00:58:40              0.0
8         2  2024-01-01 00:26:01   2024-01-01 00:54:12              1.0
9         2  2024-01-01 00:28:08   2024-01-01 00:29:16              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.72         1.0                  N           186            79
1           1.80         1.0                  N           140           236
2           4.70         1.0                  N           236            79
3           1.40         1.0                  N            79           211
4           0.80         1.0                  N           211           148
5           4.70         1.0                  N           148           141
6          10.82         1.0                  N           138           181
7           3.00         1.0                  N           246           231
8           5.44         1.0                  N           161           261
9           0.04         1.0                  N           113           113

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         17.7    1.0      0.5        0.00           0.0
1             1         10.0    3.5      0.5        3.75           0.0
2             1         23.3    3.5      0.5        3.00           0.0
3             1         10.0    3.5      0.5        2.00           0.0
4             1          7.9    3.5      0.5        3.20           0.0
5             1         29.6    3.5      0.5        6.90           0.0
6             1         45.7    6.0      0.5       10.00           0.0
7             2         25.4    3.5      0.5        0.00           0.0
8             2         31.0    1.0      0.5        0.00           0.0
9             2          3.0    1.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         22.70                   2.5         0.00
1                    1.0         18.75                   2.5         0.00
2                    1.0         31.30                   2.5         0.00
3                    1.0         17.00                   2.5         0.00
4                    1.0         16.10                   2.5         0.00
5                    1.0         41.50                   2.5         0.00
6                    1.0         64.95                   0.0         1.75
7                    1.0         30.40                   2.5         0.00
8                    1.0         36.00                   2.5         0.00
9                    1.0          8.00                   2.5         0.00

In [51]:
df.to_csv('yellow_tripdata_2024-01.csv' ,index=False)

In [52]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv' , iterator=True ,chunksize=100000)

In [53]:
df = next(df_iter)

len(df)

100000

In [37]:
df = pd.read_parquet('yellow_tripdata_2024-01.parquet')

In [38]:
len(df)

2964624

In [46]:
df_iter.head(100)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239,95,1,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148,237,1,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237,233,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132,26,1,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

In [21]:
df.head(100)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239,95,1,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148,237,1,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237,233,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132,26,1,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

In [22]:
pd.to_datetime(df.tpep_pickup_datetime)

0         2024-01-01 00:57:55
1         2024-01-01 00:03:00
2         2024-01-01 00:17:06
3         2024-01-01 00:36:38
4         2024-01-01 00:46:51
                  ...
2964619   2024-01-31 23:45:59
2964620   2024-01-31 23:13:07
2964621   2024-01-31 23:19:00
2964622   2024-01-31 23:07:23
2964623   2024-01-31 23:58:25
Name: tpep_pickup_datetime, Length: 2964624, dtype: datetime64[us]

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(engine)

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [31]:
df.head(n=0).to_sql(name='yellow_taxi_data' ,con=engine , if_exists='replace' , chunksize= 1000000)

0

In [49]:
%time  df.to_sql(name='yellow_taxi_data' ,con=engine , if_exists='append')

CPU times: user 4.65 s, sys: 288 ms, total: 4.94 s
Wall time: 13.6 s

1000

In [50]:
from time import time

In [52]:
while True:
    t_start = time()

    df = next(df_iter)


    df.to_sql(name='yellow_taxi_data' ,con=engine , if_exists='append')

    t_end = time()

    print('Inserted another chunk........, took %.3f seconds' % (t_end - t_start))

Inserted another chunk........, took 12.490 seconds
Inserted another chunk........, took 17.160 seconds
Inserted another chunk........, took 11.884 seconds
Inserted another chunk........, took 11.003 seconds
Inserted another chunk........, took 10.889 seconds
Inserted another chunk........, took 11.459 seconds
Inserted another chunk........, took 11.441 seconds
Inserted another chunk........, took 11.814 seconds
Inserted another chunk........, took 228.900 seconds
Inserted another chunk........, took 11.966 seconds
Inserted another chunk........, took 12.820 seconds
Inserted another chunk........, took 11.649 seconds
Inserted another chunk........, took 11.744 seconds
Inserted another chunk........, took 13.419 seconds
Inserted another chunk........, took 30.303 seconds
Inserted another chunk........, took 17.602 seconds
Inserted another chunk........, took 17.898 seconds
Inserted another chunk........, took 17.281 seconds
Inserted another chunk........, took 14.446 seconds
Inserted another chunk........, took 13.701 seconds
Inserted another chunk........, took 12.816 seconds
Inserted another chunk........, took 15.447 seconds
Inserted another chunk........, took 21.363 seconds
Inserted another chunk........, took 12.712 seconds
Inserted another chunk........, took 12.094 seconds
Inserted another chunk........, took 16.813 seconds
Inserted another chunk........, took 13.867 seconds

/var/folders/kp/_4404mkx1zn_85zd51sfg3440000gn/T/ipykernel_18631/2507646675.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk........, took 11.447 seconds
Inserted another chunk........, took 7.541 seconds

StopIteration:

:

In [16]:
output_file_path = 'yellow_tripdata_2024_01.csv'

#empty_list = []
#for month in ['%0.2d' % i for i in range(1, 13)]:
result = wget.download(f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

parquet_table = pq.read_table(result)
df = parquet_table.to_pandas()


#empty_list.append(df)

#merged_table = pd.concat(empty_list)
#merged_table.to_csv(output_file_path, index=False)

df.to_csv(output_file_path , index=False)

In [19]:
df.to_sql(name='yellow_taxi_data', con= engine, if_exists='replace',index=False, chunksize=100000)

29624

In [13]:
print(pd.io.sql.get_schema(df , name='yellow_taxi_data' ,con = engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [8]:
df_taxi = pd.read_csv('taxi_zone_lookup.csv')

In [9]:
print(pd.io.sql.get_schema(df_taxi , name='Taxi_Zone_Lookup_Table' ))

CREATE TABLE "Taxi_Zone_Lookup_Table" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [12]:
%time  df_taxi.to_sql(name='Taxi_Zone_Lookup_Table' ,con=engine , if_exists='append')

CPU times: user 36 ms, sys: 48.6 ms, total: 84.6 ms
Wall time: 567 ms

265